@media screen and (max-width: 600px) {
    .navigation-bar {
        flex-direction: column;
    }

    body {
        overflow-x: hidden;
    }

    .nav-title {
        width: 500px;
        margin-bottom: 10px;
    }

    .nav-content ul {
        flex-direction: column;
    }

    .banner-section {
        margin-left: 70px;
        width: 450px;
        height: 453px;
    }

    .banner-title {
        padding-top: 10px;
    }

    .banner {
        display: flex;
        width: 320px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin: 10px 24px 20px 70px;
    }

    .banner select,
    .banner button {
        width: 300px;
        height: 52px;
    }

    /*  banner ends here */

    .hero-section {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .hero {
        width: 90%;
        height: 450px;
    }

    .hero button {
        margin: 20px;

    }

    .hero img {
        height: 200px;
        width: 450px;
    }

    .hero h2 {
        padding: 0;
    }

    .destinations {
        width: 600px;
    }

    .image-container1 img {
        width: 520px;
    }

    .destination-image-text1 {
        top: 20%;
        left: 45%;
    }

    .destination-image-text2 {
        bottom: 20%;
        left: 40%;
    }

    .destination-image-text3 {
        top: 15%;
        left: 50%;
    }

    .destination-image-text4 {
        bottom: 48%;
        right: 53%;
    }

    .destination-image-text5 {
        top: 80%;
        left: 45%;
    }

    .destination-image-text6 {
        bottom: 75%;
        left: 45%;
    }

    .offer-container,
    .container-3,
    .image-container1 {
        flex-direction: column;
        width: 90%;
    }

    .offer-title,
    .destinations-title {
        width: 70%;
    }

    .newsletter {
        flex-direction: column;
    }

    .newsletter-title {
        padding: 5px;
        width: 440px;
        margin-left: 40px;
        margin-bottom: 10px;
    }

    .newsletter-img img {
        width: 450px;
        height: 350px;
        margin-left: 50px;
    }

    .discount {
        bottom: 20%;
        left: 24%;
        width: 180px;
        height: 50px;
        padding-top: 2px;
    }

    .discount h2 {
        font-size: 15px;
    }

    .travel-essentials {
        flex-direction: column;
    }

    .travel-essentials .image1,
    .image2,
    .image3 {
        width: 90%;

    }

}